div>iframe {
    display: flex;
    float: left;
    margin: 0 20px 10px 0;
    border: 5px solid;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    border: 2px solid black;
    width: 98%;
    height: 2px;
}

body {
    background-color: rgb(247, 247, 247);
}

#right-container {
    display: flex;
    flex-direction: column;
    float: inline-start;
    /* Should keep everything on the right side of the page */
}

#bottom-container {
    display: flex;
    float: left;
    /* Moves everything nicely under the iframe */

}

#left-col {
    margin: 0 100px 0 40px;
    display: inline-flex;
    flex-direction: column;
    /* float: inline-start; */
}

#right-col {
    margin: 0 0px 0 0;
    display: inline-flex;
    flex-direction: column;
    /* float: inline-start; */
}

